{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Modificateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.libelle }}</td>
                <td>{{ race.description }}</td>
                <td>{{ race.modificateur }}</td>
                <td>
                    <a href="{{ path('race_show', {'id': race.id}) }}">show</a>
                    <a href="{{ path('race_edit', {'id': race.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('race_new') }}">Create new</a>
{% endblock %}
