{% extends 'base.html.twig' %}

{% block title %}Scenario index{% endblock %}

{% block body %}
    <h1>Scenario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Duree</th>
                <th>Nb_joueur_min</th>
                <th>Nb_joueur_max</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for scenario in scenarios %}
            <tr>
                <td>{{ scenario.id }}</td>
                <td>{{ scenario.libelle }}</td>
                <td>{{ scenario.description }}</td>
                <td>{{ scenario.duree ? scenario.duree|date('H:i:s') : '' }}</td>
                <td>{{ scenario.nbJoueurMin }}</td>
                <td>{{ scenario.nbJoueurMax }}</td>
                <td>
                    <a href="{{ path('scenario_show', {'id': scenario.id}) }}">show</a>
                    <a href="{{ path('scenario_edit', {'id': scenario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('scenario_new') }}">Create new</a>
{% endblock %}
