{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1>Statistiques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statistique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ statistique.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ statistique.description }}</td>
            </tr>
            <tr>
                <th>Modificateur</th>
                <td>{{ statistique.modificateur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('statistiques_index') }}">back to list</a>

    <a href="{{ path('statistiques_edit', {'id': statistique.id}) }}">edit</a>

    {{ include('statistiques/_delete_form.html.twig') }}
{% endblock %}
