{% extends 'base.html.twig' %}

{% block title %}Musique index{% endblock %}

{% block body %}
    <h1>Musique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Lien</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for musique in musiques %}
            <tr>
                <td>{{ musique.id }}</td>
                <td>{{ musique.libelle }}</td>
                <td>{{ musique.lien }}</td>
                <td>
                    <a href="{{ path('musique_show', {'id': musique.id}) }}">show</a>
                    <a href="{{ path('musique_edit', {'id': musique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('musique_new') }}">Create new</a>
{% endblock %}
