<div class="header-container">
	<header class="banner">
		<div class="col-3 col-md-4 menu-container">
			<img src="{{ asset('images/menu.png') }}" class="menu-icon" alt="ouverture menu"/>
		</div>
		<div class="col-5 col-md-4 logo-container">
			<a href="{{ path('home') }}" class="logo"><img src="{{ asset('images/logo.png') }}" class="logo-dtr" alt="logo"/></a>
		</div>
		<div class="col-4 button-container">
			<a class="daytorole-btn" href="{{ path('jouer') }}" role="button">Jouer</a>
		</div>
	</header>
	<nav class="nav-bar">
		<ul class="tabs">
			<li class="first tab">
				<img src="{{ asset('images/close.png') }}" class="close-icon" alt="fermeture menu"/>
			</li>
			<li class="house tab">
				<a href="{{ path('home') }}" class="daytorole-link"><img src="{{ asset('images/house.png') }}" class="home-icon" alt="accueil"/></a>
			</li>
			<li class="tab">
				<a href="{{ path('notreoffre') }}" class="daytorole-link">Notre offre</a>
			</li>
			<li class="tab">
				<a href="{{ path('jeuderole') }}" class="daytorole-link">Le jeu de rôle</a>
			</li>
			<li class="tab">
				<a href="{{ path('scenarios') }}" class="daytorole-link">Les scénarios</a>
			</li>
			<li class="tab">
				<a href="{{ path('blog') }}" class="daytorole-link">Le blog</a>
			</li>
			<li class="tab">
				<a href="{{ path('equipe') }}" class="daytorole-link">Qui sommes-nous ?</a>
			</li>
			<li class="tab">
				<a href="{{ path('contact') }}" class="daytorole-link">Contact</a>
			</li>
			{% if app.user %}
			<li class="last tab">
				<a href="{{ path('logout') }}" class="daytorole-link">Deconnextion</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</div>