<!DOCTYPE html>
<html>
    <head>
    	<script type="text/javascript" src="../tarteaucitron/tarteaucitron.js"></script>
		<script type="text/javascript">
		tarteaucitron.init({
		"privacyUrl": "{{ path('confidentialite') }}",
		"hashtag": "#tarteaucitron",
		"cookieName": "tarteaucitron",
		"orientation": "bottom",
		"showAlertSmall": false,
		"cookieslist": true,
		"adblocker": false,
		"AcceptAllCta" : true,
		"highPrivacy": false,
		"handleBrowserDNTRequest": false, 
		"removeCredit": false,
		"moreInfoLink": true,
		"useExternalCss": false,
		"readmoreLink": "{{ path('confidentialite') }}"
		});
		</script>
		<script type="text/javascript">
        tarteaucitron.user.gtagUa = 'UA-167583767-1';
        (tarteaucitron.job = tarteaucitron.job || []).push('gtag');
        </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Day To Role{% endblock %}</title>
        {% block SEO %}{% endblock %}
        {% block favicon%}
			<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}"/>
        	<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
	        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}"/>
	        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}"/>
	        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
	        <link rel="manifest" href="{{ asset('site.webmanifest') }}"/>
	        <meta name="msapplication-TileColor" content="#ffffff">
	        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	        <meta name="theme-color" content="#ffffff"/>
        {% endblock %}

        {% block stylesheets %}		
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
			<link href="{{ asset('css/daytorole.css') }}" rel="stylesheet"/>
        {% endblock %}
        {% block extrastylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
			
			{{ include('_header.html.twig') }}       
        	
        	{% block content %}{% endblock %}
        	
        	{{ include('_footer.html.twig') }} 
        
        {% endblock %}
        
        {% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	        <script src="{{ asset('js/daytorole.js') }}"></script>
        {% endblock %}
    </body>
</html>