{% extends 'base.html.twig' %}

{% block title %}Blog - Day To Role{% endblock %}

{% block SEO %}
<meta name="description" content="">
<meta name="keywords" content="accueil jeu de role day to role">
{% endblock %}
        
{% block extrastylesheets %}
<link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<main>
    <h1>Les articles</h1>
    {% if articles %}  
    <div class="container">
        <div class="row">
        {% for article in articles %}
        <div class="blog-item col-md-6 col-lg-4">
            <div class="inner">
                {% if article.image %}
                <img src="{{ asset('images/'~'7x5-'~ article.image)}}" alt="toutes sortes de dés">
                {% else %}
                <img src="{{ asset('images/7x5-image-article.jpg') }}" alt="toutes sortes de dés">
                {% endif %}
                <h2 class="article-title">{{ article.titre }}</h2>
                <p class="article-data blog">Par <span id="writer">{{ article.auteur }} </span><span id="date">{{ article.date|date("d/m/Y") }}</span></p>
                <p>{{ article.description }}</p>
                <a class="daytorole-btn" href="{{ path('blog_post', {slug: article.slug}) }}" role="button">En lire plus...</a>
            </div>
        </div>
        {% endfor %} 
        </div> 
    </div>
    {% else %} 
    <p class="centered-text">Aucun article</p>  
    {% endif %}     
</main>
{% endblock %}