{% extends 'base.html.twig' %}

{% block title %}Aide au Jeu de Rôle : plateforme et application mobile - Day To Role{% endblock %}

{% block SEO %}
<meta name="description" content="Entre dans l’expérience Day to Role ! Day to Role est une aide au Jeu de Rôle que ce soit pour le meneur de jeu ou les personnages principaux.">
<meta name="keywords" content="aide au jeu de rôle">
<meta name="author" content="Eugénie">
{% endblock %}

{% block extrastylesheets %}
<link href="{{ asset('css/notreoffre.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<main>
    <h1>Notre offre</h1>
    <p>Entre dans l’expérience Day to Role ! Joue à n’importe quel Jeu de Rôle plus facilement et sans te soucier des différents documents papiers. Day To Role est une aide au Jeu de Rôle, que ce soit pour le <a href="#leader" class="daytorole-link">meneur de jeu</a> ou les <a href="#player" class="daytorole-link">personnages principaux</a>.
    (<a href="{{ path('jeuderole') }}" class="daytorole-link">Qu’est-ce que le Jeu de Rôle ?</a>)</p>
    <h2 id="leader">La plateforme : aide au Jeu de Rôle pour le meneur de jeu</h2>
    <div class="leader row">       
        <div class="leader-text col-md-7">
            <h3>Prépare ta partie</h3>
            <p>Nous mettons à ta disposition des fiches de personnages, des scénarios et des cartes toutes faites pour toi. Tu n’as plus qu’à organiser ta ou tes parties !</p>
            <h3>Centraliser les données</h3>
            <p>Créer un Jeu de Rôle est un exercice qui demande de l’organisation. Avec le format papier, il est parfois difficile de s’y retrouver entre les différents documents. Avec la plateforme, retrouve tous tes documents au même endroit. Tu ne te perdras plus dans tes feuilles pendant tes parties.</p>
        </div> 
        <div class="col-md-5">
            <img src="{{ asset('images/plateforme-day-to-role.jpg') }}" alt="plateforme pour meneur de jeu day to role" class="picture-right">
        </div>
    </div>    
    <h3> Gérer une partie de Jeu de Rôle</h3>
    <p>En tant que meneur de jeu, tu dois superviser les parties et les guider. Cela peut être un exercice assez périlleux pour les novices comme pour les plus aguerris. Changements de niveau des joueurs, points de compétences, points de combat ou encore inventaires... Grâce à la plateforme, tu peux suivre les différentes évolutions des personnages pour laisser libre court au jeu des joueurs incarnant les personnages principaux.</p>
    <p>Au début de la partie, donne un code d’accès que les joueurs vont entrer dans l’application pour qu'ils récupèrent leur fiche de personnage. Les fiches de personnages sont alors synchronisées vers la plateforme. Il ne te reste plus qu’à jouer. Si tu veux, tu as accès à des dés virtuels.</p>
    <h3>Prochainement : Suivre</h3>
    <p>Prochainement, Day To Role mettra à disposition sur ton compte tes différentes statistiques : temps passé à jouer, nombre de parties, nombre d’actions réussies… La plateforme permettra aussi de réunir les différents joueurs en créant des rendez-vous et grâce à un chat. Tu retrouveras aussi des résumés des parties effectuées pour te remémorer la partie précédente ou tout simplement pour les partager avec tes amis.</p>
    <a href="{{ path('connexion') }}" class="daytorole-link">Commence à créer ta partie !</a>
    <h2 id="player">L’application mobile : aide au Jeu de Rôle pour les personnages principaux</h2>
    <div class="player row">
        <div class="col-md-4">
            <img src="{{ asset('images/application-mobile-day-to-role.jpg')}}" alt="aperçu de l'application DayToRole" class="picture-left">
        </div>
        <div class="player-text col-md-8">
            <p>Si tu incarnes un personnage principal, retrouve ta fiche de personnage sur l’application Day to Role.</p>
            <p>Plus besoin d’écrire puis d’effacer, puis écrire, puis effacer encore et encore jusqu’à détruire ta pauvre fiche à coups de gomme :’(. L’application est un support qui te permet de te retrouver facilement dans tes points de compétences, combats, vies et dans ton inventaire. Pour effectuer tes actions, tu as accès à un dé virtuel dans l’application. Si tu préfère les dés IRL pas de soucis tu peux désactiver cette fonctionnalité quand tu veux.</p>
        </div>
    </div>
    <p>Prochainement :</p>
    <p>Retrouve à chaque fin de partie un résumé pour te remémorer ce qu’il s’est passé et le partager avec tes amis. L’application mobile est aussi utile pour pouvoir te souvenir d’une partie précédente avant de commencer la prochaine.</p>
    <p>Grâce à ton compte joueur, retrouve tes statistiques (performances, actions réussies…) sur le site <a href="{{ path('home') }}" class="daytorole-link">daytorole.com</a></p>
    <!-- <a href="#" class="daytorole-link">Télécharger l'appli</a> -->
</main>
{% endblock %}