{% extends 'base.html.twig' %}

{% block title %}Les scénarios - Day To Role{% endblock %}
        
{% block SEO %}
<meta name="description" content="Retrouve la liste des scénarios de Jeux de Rôle disponibles sur Day To Role">
<meta name="keywords" content="scenario jeu day to role">
{% endblock %}
        
{% block extrastylesheets %}
<link href="{{ asset('css/scenario.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %} 
<main>
    <h1>Les scénarios</h1>
    {# {% if scenarios %} #}
    <div class="container">
        <div class="row">        	
        {# {% for scenario in scenarios %} #}
        <div class="scenario-item col-md-6 col-lg-4">
            <div class="inner">
                <a class="scenario-header" href="{# LIEN #}">
                    {# {% if scenario.image and scenario.alt %}
                    <img src="{{ asset('images/'~'7x5-'~ scenario.image)}}" alt="{{ scenario.alt }}">
                    {% else %} #}
                    <img src="{{ asset('images/7x5-image-article.jpg') }}" alt="toutes sortes de dés">
                    {# {% endif %} #}
                </a>                    
                <a href="{# LIEN #}" class="scenario-link">
                    <h2 class="scenario-title">Nom du scénario {# scenario.libelle #}</h2>
                </a>                
                <p class="scenario-description">Description du scénario {# scenario.description #}</p>
                <div class="data-container container">
                	<div class="row">
                		<div class="scenario-data players">
                			<img src="{{ asset('images/user.png') }}" alt="icône joueur">
                			<p>2-6</p>{# scenario.nb_joueur_min - scenario.nb_joueur_max#}
                		</div>
                		<div class="scenario-data time">
                			<img src="{{ asset('images/clock.png') }}" alt="icône pendule">
                			<p>2h30</p>{# scenario.duree #}
                		</div>
                		<div class="scenario-data difficulty">
                			<img src="{{ asset('images/cog.png') }}" alt="icône difficulté">
                			<p>2/3</p>{# scenario.difficulte /3#}
                		</div>
                	</div>
                </div>
            </div>
        </div>
        {# {% endfor %} #}
        </div> 
    </div>
    {# {% else %} 
    <p class="centered-text">Aucun scénario</p>  
    {% endif %} #}
</main>
{% endblock %}