{% extends 'base.html.twig' %}

{% block title %}Succes index{% endblock %}

{% block body %}
    <h1>Succes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for succe in succes %}
            <tr>
                <td>{{ succe.id }}</td>
                <td>{{ succe.libelle }}</td>
                <td>{{ succe.description }}</td>
                <td>
                    <a href="{{ path('succes_show', {'id': succe.id}) }}">show</a>
                    <a href="{{ path('succes_edit', {'id': succe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('succes_new') }}">Create new</a>
{% endblock %}
