{% extends 'base.html.twig' %}

{% block title %}Complexite{% endblock %}

{% block body %}
    <h1>Complexite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ complexite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ complexite.libelle }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ complexite.points }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('complexite_index') }}">back to list</a>

    <a href="{{ path('complexite_edit', {'id': complexite.id}) }}">edit</a>

    {{ include('complexite/_delete_form.html.twig') }}
{% endblock %}
