{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>Poids</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.libelle }}</td>
                <td>{{ objet.description }}</td>
                <td>{{ objet.poids }}</td>
                <td>
                    <a href="{{ path('objet_show', {'id': objet.id}) }}">show</a>
                    <a href="{{ path('objet_edit', {'id': objet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objet_new') }}">Create new</a>
{% endblock %}
